<h1><%= name %></h1>

<ul>
	<li>Artist: <a href="<%= "../artists/#{artist.name}.html" %>"><%= artist.name %></a></li>
	<li>Genre: <a href="<%= "../genres/#{genre.name}.html" %>"><%= genre.name %></a></li>
</ul>